@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600&display=swap');

:root {
    --container-width-lg: 76%;
    --container-width-md: 84%;
    --container-width-sm: 90%;

    --transition-fast: 400ms ease;
    --transition-mid: 700ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #eeeeff;
}

.app {
    background: linear-gradient(rgba(127,181,255,1),rgba(28,64,144,1));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all var(--transition-mid);
}

.app.night-clear {
    background: linear-gradient(#2A2A42,#060C0E);
    transition: all var(--transition-mid);
}

.app.day-clear {
    background: linear-gradient(#FFE790,#E57017);
    transition: all var(--transition-mid);
}

.app.day-clouds {
    background: linear-gradient(#BFFFEE,#31547B);
    transition: all var(--transition-mid);
}

.app.night-clouds {
    background: linear-gradient(#555474,#242825);
    transition: all var(--transition-mid);
}

.app.day-rain {
    background: linear-gradient(#75E371,#126326);
    transition: all var(--transition-mid);
}

.app.night-rain {
    background: linear-gradient(#1B4E19,#06170A);
    transition: all var(--transition-mid);
}

.app.day-snow {
    background: linear-gradient(rgba(127,181,255,1),rgba(28,64,144,1));
    transition: all var(--transition-mid);
}

.app.night-snow {
    background: linear-gradient(#0C5F5F,#051011);
    transition: all var(--transition-mid);
}

.app.day-thunder {
    background: linear-gradient(#353092,#0D082F);
    transition: all var(--transition-mid);
}

.app.night-thunder {
    background: linear-gradient(#14104E,#040309);
    transition: all var(--transition-mid);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    position: relative;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.flex {
    display: flex;
}

.flex.gap-1 {
    gap: 1rem;
}

.flex.gap-2 {
    gap: 1.5rem;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.m-1 {
    margin: 1rem;
}

.m-1.vertical {
    margin: 1rem 0;
}

.m-2 {
    margin: 1rem;
}

.m-2.vertical {
    margin: 1.5rem 0;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 2.3rem;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
}

h2 {
    font-size: 3.8rem;
    font-weight: 600;
}

h3 {
    font-size: 2.6rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

.bold {
    font-weight: 600 !important;
}

.red-text {
    color: rgb(255, 162, 162);
}

.text-center {
    text-align: center;
}

button {
    cursor: pointer;
}

button.borderless {
    border:none;
    background: none;
    color: #eeeeee;
    text-decoration: underline;
}

button.borderless:hover {
    color: #ffff;
}

.back-button {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;

    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 50%;
    background: rgba(255,255,255, 0.2);
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.1), -12px -12px 30px rgba(255, 255, 255, 0.1);
    
    transition: all var(--transition-fast);
}

.back-button:active {
    transform: scale(0.7);
}

.back-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6rem;
    height: 0.6rem;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: translate(-40%, -50%) rotate(-45deg);
}

.onload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--transition-mid);
}

.front-page {
    transition: all var(--transition-mid) 200ms;
}

.front-page.hide {
    transform: translateX(-10rem);
    transition: all var(--transition-mid);
}

.search-form, .search-bar {
    width: 100%;
}

.search-form .search-bar {
    appearance: none;
    outline: none;

    border: 2px solid transparent;
    background: rgba(255,255,255, 0.5);
    opacity: 0.7;

    padding: 0.4rem 1rem;

    text-align: center;
    font-size: 1rem;
    color: #fff;

    transition: opacity var(--transition-mid);
}

.search-form .search-bar:focus {
    opacity: 1;
}

.search-form .search-bar::placeholder {
    color: #fff;
}

.search-form .label {
    border: none;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.5);
    color:#eeeeee;
}

.weather {
    width: var(--container-width-lg);
    max-width: 1400px;
    padding: 2rem 3rem;
    position: fixed;
    background: rgba(255,255,255, 0.1);
    transition: all var(--transition-mid) 200ms;
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.1), -12px -12px 30px rgba(255, 255, 255, 0.05);
}

.weather.hide {
    transform: translateX(10rem);
    transition: all var(--transition-mid) ;
}

.image-wrapper {
    position: absolute;
    top: 5rem;
    left: 10rem;
}

.image-wrapper img {
    width: 100%;
}